<% work = Work.find(@writing.work_id) %>
<% author = Author.find(@writing.author_id)%>
<p style="margin: 0">
  <%= link_to 'Back', url_for(:back) %>
</p>

<h2>Editing Author for <%= link_to work.title, work_path(work) %></h2>
<h4>
  <%= author.lastname %>, <%= author.firstnames %>
</h4>

<div class="row">
  <div class="col-4">
    <%= render 'form', writing: @writing %>
  </div>
</div>

<div class="top">
 
</div>

