<h2>Editing Author for <b><%= Work.find(@writing.work_id).title %></b></h2>

<% author = Author.find(@writing.author_id)%>
<h4>
  <%= author.lastname %>, <%= author.firstnames %>
</h4>

<div class="row">
  <div class="col-4">
    <%= render 'form', writing: @writing %>
  </div>
</div>

<div class="top">
  <%= link_to 'Back', url_for(:back) %>
</div>

