<p id="notice"><%= notice %></p>

<h1>Writings</h1>
<div>
  <h4>Import data!</h4>
  <%= form_tag import_writings_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import from file"%>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>work_id</th>
      <th>title</th>
      <th>author_id</th>
      <th>author</th>
      <th>Function</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @writings.each do |writing| %>
      <tr>
        <td><%= writing.work_id %></td>
        <td><%= writing.work.title %></td>
        <td><%= writing.author_id %></td>
        <td><%= writing.author.lastname %></td>
        <td><%= writing.function %></td>
        <td><%= link_to 'Show', writing %></td>
        <td><%= link_to 'Edit', edit_writing_path(writing) %></td>
        <td><%= link_to 'Destroy', writing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Writing', new_writing_path %>
