<p style="margin: 0">
  <% prev_work = Work.ransack(session[:query]).result.order(sortable_title: :desc).find_by("sortable_title < ?", @work.sortable_title) %>

  <% next_work = Work.ransack(session[:query]).result.order(:sortable_title).find_by("sortable_title > ?", @work.sortable_title) %>
  
  <% if prev_work %>
    <%= link_to 'Previous Work', authors_work_path(prev_work) %> |
  <% else %>
    <span class="greyed-out">Previous Work</span> |
  <% end %>
  <% if next_work %> 
    <%= link_to 'Next Work', authors_work_path(next_work) %>
  <% else %>
    <span class="greyed-out">Next Work</span>
  <% end %>
</p>

<h2>Author(s) for <%= link_to @work.title, @work%></h2>

<div class='form-group wide'>
  <% if @authors.length > 0 %>
    <%= form_tag(author_remove_work_path(@work)) do %>
      <table class='table table-responsive table-striped"'>
        <thead>
          <th>Author</th>
          <th>Function</th>
          <th>Credited</th>
          <th></th>
          <th>Remove</th>
        </thead>
        <tbody>
          <% for author in @authors do %>
            <tr>
              <% author_work = author.writings.find_by(work_id: @work.id) %>
              <td><%= link_to author.lastname + ", " + author.firstnames, author %></td>
              <td><%= author_work.function %></td>
              <td><%= author_work.credited_author %></td>
              <td><%= link_to "Edit", edit_writing_path({id: author_work, redirect_to: request.path}) %></td>
              <td><%= check_box_tag "authors[]", author.id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= submit_tag "Remove author(s) from work", class: 'btn-outline-secondary' %>
    <% end %>
  <% else %>
    <p>No authors added yet.</p>
  <% end %>
</div>
<div class="form-group">
  <h2>Add new author for this work</h2>
  <%= form_tag(author_add_work_path(@work)) do %>
    <%= select_tag :author, options_from_collection_for_select(Author.all.order(:lastname), :id, 'authorName'), class: "dropdown" %>
    <br><br>
    <%= submit_tag "Add author to work", class: 'btn-outline-secondary'%>
  <% end %>
</div>
