<% if notice %>
  <p id="notice" style="margin-bottom: 0"><%= notice %></p>
<% end %>

<div class="row">
  <div class="col-2">
    <h2>Works</h2>
  </div>
  <div class="col">
    <p>
      <%= search_form_for @q do |f| %>
        <!-- Ransack "contains" search, executes on Enter -->
        <%= f.search_field :title_or_genre_or_authors_lastname_or_composers_lastname_cont, placeholder: "Search", size: "25", class: "search-box" %>
        
        <!-- Clear search and reload page -->
        <%= link_to "(clear)", request.path, class: "small" %>
      <% end %>
    </p>
  </div>
</div>

<% cache(@works) do %> 
<table class="table table-responsive table-striped">
  <thead>
    <tr> 
      <th>Title</th>
      <th>Genre</th>
      <th>Author</th>
      <th>Composer</th>
      <th>Performances</th>
      <th>Zinzendorf</th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <% cache(work) do %>
        <tr>
          <td><i><%= link_to work.title, work %></i></td>
          <td><%= work.genre %></td>
          <td>
            <% credited_author = work.writings.find_by_credited_author (true) %>
            <% if work.authors.any? %>
              <% if credited_author %>
                <%= link_to credited_author.author.lastname, credited_author.author %>
              <% else %>
                <%= link_to work.authors[0].lastname, work.authors[0] %>
              <% end %>
            <% else %>
              NA
            <% end %>

          </td>
          <td>
            <% if work.composers.any? %>
              <%= link_to work.composers[0].lastname, work.composers[0] %>
            <% else %>
              NA
            <% end %>
          </td>
          <td class="center"><%= work.events.count %></td>
          <td class="center"><%= work.events.where(zinzendorf: true).count %></td>
          <!--<td class="detail-link"><%= link_to 'Details', work %></td>
          <td><%= link_to 'Edit', edit_work_path(work) %></td>
          <td><%= link_to 'Delete', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class='digg_pagination'>
  <%= will_paginate @works %>
</div>
<div class='page-info'>
  <%= page_entries_info @posts %>
</div>
<% end %>
<br>
