<p style="margin: 0">
  <% if @work.prev %>
    <%= link_to 'Previous Work', @work.prev %> | 
  <% end %>
  <% if @work.next %> 
    <%= link_to 'Next Work', @work.next %> | 
  <% end %>
  <%= link_to 'Back', url_for(:back) %>
  <% if current_user %>
   | <%= link_to 'Edit', edit_work_path(@work) %>
  <% end %>
  <% if notice %>
      | <span id="notice"><%= notice %></span> 
  <% end %>
</p>

<h2>
  <i><%= @work.title %></i>
</h2>
<% if @work.composers[0] %>
  <h5>Composer:</h5>
   <p class="indent">
     <%= link_to @work.composers[0].lastname, @work.composers[0] %>
   </p>
<% end %>

<h5>Author(s):</h5>
<% if @work.authors[0] %>
  <table class="indent">
    <thead>
      <tr>
        <th>Name</th>
        <th>Function</th>
      </tr>
    </thead>
    <tbody>
      <% @work.authors.each do |author| %>
        <tr>
          <td class="right"><%= link_to author.lastname, author %></td>
          <td><%= author.writings.find_by(author_id: author.id, work_id: @work.id).function %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>NA</p>
<% end %>

<h4>Performances</h4>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th><%= sort_link "date", @work %></th>
      <th>DOW</th>
      <th class="right"><%= sort_link "receipts", @work, "fl" %></th>
      <th class="right kr"><%= sort_link "receipts", @work, "kr" %></th>
      <th>Zinzendorf</th>
    </tr>
  </thead>
  <tbody>
    <!-- In Works controller, @performances = @work.events.where.not(receipts: "NA")-->
    <% @performances.each do | performance | %>
      <tr>
        <td><%= link_to performance.date.strftime("%Y/%m/%d"), performance %></td>
        <td><%= performance.date.strftime("%a") %></td>
        <td class="right"><%= performance.receipts.to_i.divmod(60)[0]%></td>
        <td class="right"><%= performance.receipts.to_i.divmod(60)[1]%></td>
        <td class="center"><%= if performance.zinzendorf then "Yes" else "" end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<p>
  <strong>Genre:</strong>
  <%= @work.genre %>
</p>
<p>
  <% c = @work.events.count %>
  <% if @work.title == "Theater closed"%>
    <strong>Days closed: </strong>
  <% else %>
    <strong>Total performances:</strong>
  <% end %>
  <%= c %>
</p>
<p>
  <% z = @work.events.where(zinzendorf: true).count %>
  <strong>Zinzendorf attendances:</strong>
  <%= z %> (<%= (z.to_f/c.to_f * 100).round(2) %>%)
</p>
<!-- Calculate mean and median receipts -->
  <!--Get array of receipts for this work-->
  <!-- Remove any performances that were free or canceled -->
  <% r = @work.events.where.not(kind: ["canceled", "free"]).pluck(:receipts) %>
  <!--Convert array items from string to integer -->
  <% r.map! {|r| r.to_i} %>
<p>
  <strong>Mean receipts:</strong>
  <% mean = mean(r) %>
  <% if mean == 0 %>
    <%= "NA" %>
  <% else %>
    <% mean = mean(r).divmod(60) %> 
    <%= mean[0]%> fl <%= mean[1]%> kr
  <% end %>
</p>
<p>
  <strong>Median receipts:</strong>
  <% median = median(r) %>
  <% if median == 0 %>
    <%= "NA" %>
  <% else %>
    <% median = median.divmod(60) %>
    <%= median[0]%> fl <%= median[1]%> kr
  <% end %>
</p>

<% if @work.notes %>
  <p class="notes">
    <strong>Notes:</strong>
    <% if @work.notes %>
      <%= @work.notes.html_safe %>
    <% end %>
  </p>
<% end %>
<hr class="top">
<p>
  <strong>Created:</strong>
  <%= @work.created_at.to_date.strftime("%a, %-d %b %Y") %>
</p>
<p>
  <strong>Updated:</strong>
  <%= @work.updated_at.strftime("%a, %-d %b %Y, %H:%M %Z") %>
</p>

<hr> 