<p id="notice"><%= notice %></p>
 <h2>
  <i><%= @work.title %></i>
</h2>
<p>
  <strong>Genre:</strong>
  <%= @work.genre %>
</p>
<p>
  <strong>Author(s):</strong>
  <%= link_to @work.authors[0].lastname, @work.authors[0] %>
</p>
<h3>Performances</h3>
<table>
  <thead>
    <tr>
      <th colspan="2"></th>
      <th colspan="2" class="right">Receipts</th>
    </tr>
    <tr>
      <th>Date</th>
      <th>DOW</th>
      <th class="right">fl</th>
      <th class="right">kr</th>
    </tr>
  </thead>
  <tbody>
    <% @work.events.each do |event| %>
      <tr>
        <td><%= link_to event.date, event %></td>
        <td><%= event.date.strftime("%a") %></td>
        <td class="right"><%= event.receipts.to_i.divmod(60)[0]%></td>
        <td class="right"><%= event.receipts.to_i.divmod(60)[1]%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Total:</strong>
  <%= @work.events.count %>
</p>
<p>
  <strong>Mean receipts:</strong>
  <% sum = 0 %>
  <% @work.events.pluck(:receipts).each do |r| %>
    <% sum = sum + r.to_i %>
  <% end %>
  <% mean = (sum/@work.events.count).divmod(60) %>
  <%= mean[0]%> fl <%= mean[1]%> kr
</p>

<p>
  <strong>Notes:</strong>
  <% if @work.notes %>
    <%= @work.notes.html_safe %>
  <% end %>
</p>
<hr>
<p>
  <strong>Created:</strong>
  <%= @work.created_at.to_date.strftime("%a, %-d %b %Y") %>
</p>
<p>
  <strong>Updated:</strong>
  <%= @work.updated_at.strftime("%a, %-d %b %Y, %H:%M %Z") %>
</p>
<% if @work.prev %>
  <%= link_to 'Previous Work', @work.prev %>
  <% if @work.next %>
   |
  <% end %>
<% end %>
<% if @work.next %> 
  <%= link_to 'Next Work', @work.next %>
<% end %>
<hr>
<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', url_for(:back) %> 
