<p id="notice"><%= notice %></p>
 <h2>
  <i><%= @work.title %></i>
</h2>

<h3>Performances</h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Receipts (kr)</th>
    </tr>
  </thead>
  <tbody>
    <% @work.events.each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td class="right"><%= event.receipts %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <strong>Notes:</strong>
  <%= @work.notes %>
</p>

<p>
  <strong>Created:</strong>
  <%= @work.created_at.to_date.strftime("%a, %-d %b %Y") %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @work.updated_at %>
</p>
<hr>
<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
