<p style="margin: 0">
  <% if @composer.prev %>
    <%= link_to 'Previous Composer', edit_composer_path(@composer.prev) %>
    <% if @composer.next %>
    | <%= link_to 'Next Composer', edit_composer_path(@composer.next) %>
    <% end %>
  <% else %>
    <%= link_to 'Next Composer', edit_composer_path(@composer.next) %>
  <% end %>
</p>

<h1>Editing Composer</h1>

<div class="row">
  <div class="col-6">
    <%= render 'form', composer: @composer %>
  </div>
</div>
<hr class="top">

<%= link_to 'Show', @composer %>
