<p style="margin: 0">
	<% if @composer.prev %>
	  <%= link_to 'Previous Composer', @composer.prev %> |
	<% end %>
	<% if @composer.next %> 
    <%= link_to 'Next Composer', @composer.next %> |
	<% end %>
  <% if current_user %>
    <%= link_to 'Edit', edit_composer_path(@composer) %>
  <% end %>
  <% if notice %>
      | <span id="notice"><%= notice %></span> 
  <% end %>
</p>

<h2>
  <%= @composer.firstnames%> <%= @composer.lastname %>
</h2>
<p>
  <strong>Birth:</strong>
  <%= @composer.birth %>
</p>
<p>
  <strong>Death:</strong>
  <%= @composer.death %>
</p>
<h3>Performances</h3>

<!--Find all performances for this composer and order them by date-->
<%# <% performances = Event.includes(:works => :composers).where(composers: {id: @composer.id}).order(:date) %>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th><%= sort_link "date", @composer %></th>
      <th class="dow"><%= sort_link "dow", @work, "Day" %></th>
      <th><%= sort_link "title", @composer %></th>
      <th class="right wide">
        <% if @performances.exists?(receipts: "unknown") %>
          fl
        <% else %>
          <%= sort_link "receipts", @composer, "fl" %>
        <% end %>
      </th>
      <th class="right wide">
        <% if @performances.exists?(receipts: "unknown") %>
          kr
        <% else %>
          <%= sort_link "receipts", @composer, "kr" %></th>
        <% end %>
      <th>Zinzendorf</th>
    </tr>
  </thead>
  <tbody>
    <% @performances.each do |p| %>
        <tr>
          <td><%= link_to p.date.strftime("%Y/%m/%d"), p %></td>
          <td><%= p.date.strftime("%a") %></td>
          <td><i><%= link_to p.works[0].title, p.works[0] %></i></td>
          <td class="right"><%= p.receipts.to_i.divmod(60)[0]%></td>
          <td class="right"><%= p.receipts.to_i.divmod(60)[1]%></td>
          <td class="center"><%= if p.zinzendorf then "Yes" else "" end %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<hr>
<% n = @performances.length %>
<% z = @performances.where(zinzendorf: true).count %>
<p>
  <strong>Total performances:</strong>
  <%= n %>
</p>
<p>
  <strong>Titles:</strong>
  <%= @composer.works.count %>
</p>
<p>
  <strong>Zinzendorf attendances:</strong>
  <%= z %> (<%= (z.to_f/n.to_f * 100).round(2) %>%)
</p>
</p>
<!-- Calculate mean and median receipts -->
  <!--Get array of receipts for this Composer-->
  <% r = @composer.works.joins(:events).pluck(:receipts)%>
  <!--Convert array items from string to integer -->
  <% r.map! {|r| r.to_i} %>
<p>
  <strong>Mean receipts:</strong>
  <% mean = mean(r) %>
  <% if mean == 0 %>
    <%= "NA" %>
  <% else %>
    <% mean = mean(r).divmod(60) %> 
    <%= mean[0]%> fl <%= mean[1]%> kr
  <% end %>
</p>
<p>
  <strong>Median receipts:</strong>
  <% median = median(r) %>
  <% if median == 0 %>
    <%= "NA" %>
  <% else %>
    <% median = median.divmod(60) %>
    <%= median[0]%> fl <%= median[1]%> kr
  <% end %>
</p>

<hr class="top">
<p>
  <strong>Created:</strong>
  <%= @composer.created_at.to_date.strftime("%a, %-d %b %Y") %>
</p>
<p>
  <strong>Updated:</strong>
  <%= @composer.updated_at.strftime("%a, %-d %b %Y, %H:%M %Z") %>
</p>

<hr>