<% if current_user %>
  <%= link_to 'New Author', new_author_path %>
<% end %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Authors</h1>
<!--<div>
  <h4>Import data!</h4>
  <%= form_tag import_authors_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import from file"%>
  <% end %>
</div>-->

<% cache(@authors) do %>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Names</th>
      <th>Birth</th>
      <th>Death</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <% cache(author) do %>
        <tr>
          <td><%= link_to author.lastname, author %></td>
          <td><%= author.firstnames %></td>
          <td class='center'>
            <% if author.birth != 0 %>
              <%= author.birth %>
            <% else %>
              <span>?</span>
            <% end %>
          </td>
          <td class='center'>
            <% if author.death != 0 %>
              <%= author.death %>
            <% else %>
              <span>?</span>
            <% end %>
          </td>
          <!--<td><%= link_to 'Detail', author %></td>
          <td><%= link_to 'Edit', edit_author_path(author) %></td>
          <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class='digg_pagination'>
  <%= will_paginate @authors %>
</div>
<% end %>
<br>

<!--<%= link_to 'New Author', new_author_path %>-->
