<% if current_user %>
  <%= link_to 'New Author', new_author_path %>
<% end %>

<% if notice %>
  <p id="notice" style="margin-bottom: 0"><%= notice %></p>
<% end %>

<div class="row">
  <div class="col-2">
    <h2>Authors</h2>
  </div>
  <div class="col">
    <p>
      <%= search_form_for @q do |f| %>
        <!-- Ransack "contains" search, executes on Enter -->
        <%= f.search_field :lastname_or_firstnames_cont, placeholder: "Search", size: "25", class: "search-box" %>
        
        <!-- Clear search and reload page -->
        <%= link_to "(clear)", request.path, class: 'small' %>
      <% end %>
    </p>
  </div>
</div>

<% cache(@authors) do %>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Names</th>
      <th>Birth</th>
      <th>Death</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <% cache(author) do %>
        <tr>
          <td><%= link_to author.lastname, author %></td>
          <td><%= author.firstnames %></td>
          <td class='center'>
            <% if author.birth != 0 %>
              <%= author.birth %>
            <% else %>
              <span>?</span>
            <% end %>
          </td>
          <td class='center'>
            <% if author.death != 0 %>
              <%= author.death %>
            <% else %>
              <span>?</span>
            <% end %>
          </td>
          <!--<td><%= link_to 'Detail', author %></td>
          <td><%= link_to 'Edit', edit_author_path(author) %></td>
          <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class='digg_pagination'>
  <%= will_paginate @authors %>
</div>
<% end %>
<br>

<!--<%= link_to 'New Author', new_author_path %>-->
