<% if notice %>
  <p id="notice"><%= notice %></p> 
<% end %>
<p style="margin: 0">
  <% if @author.prev %>
  <%= link_to 'Previous Author', @author.prev %>
  <% if @author.next %>
    |
  <% end %>
  <% end %>
  <% if @author.next %> 
  <%= link_to 'Next Author', @author.next %>
  <% end %>
   |
  <%= link_to 'Back', url_for(:back) %>
</p>

<h2>
  <%= @author.firstnames%> <%= @author.lastname %>
</h2>
<p>
  <strong>Birth:</strong>
  <%= @author.birth %>
</p>
<p>
  <strong>Death:</strong>
  <%= @author.death %>
</p>
<h4>Performances</h4>
<!--Find all performances for this composer and order them by date-->
<% performances = Event.includes(:works => :authors).where(authors: {id: @author.id}).order(:date) %>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th class="right">fl</th>
      <th class="right">kr</th>
      <th>Zinzendorf</th>
    </tr>
  </thead>
  <tbody>
    <% performances.each do |p| %>
        <tr>
          <td><%= link_to p.date, p %></td>
          <td><i><%= link_to p.works[0].title, p.works[0] %></i></td>
          <td class="right"><%= p.receipts.to_i.divmod(60)[0]%></td>
          <td class="right"><%= p.receipts.to_i.divmod(60)[1]%></td>
          <td class="center"><%= p.zinzendorf %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<% n = performances.length %>
<% z = performances.where(zinzendorf: true).count %>

<hr>
<p>
  <strong>Total performances:</strong>
  <%= n %>
</p>
<p>
  <strong>Zinzendorf attendances:</strong>
  <%= z %> (<%= (z.to_f/n.to_f * 100).round(2) %>%)
</p>
<!-- Calculate mean and median receipts -->
  <!--Get array of receipts for this Author-->
  <% r = @author.works.joins(:events).pluck(:receipts)%>
  <!--Convert array items from string to integer -->
  <% r.map! {|r| r.to_i} %>
<p>
  <strong>Mean receipts:</strong>
  <% mean = mean(r) %>
  <% if mean == 0 %>
    <%= "NA" %>
  <% else %>
    <% mean = mean(r).divmod(60) %> 
    <%= mean[0]%> fl <%= mean[1]%> kr
  <% end %>
</p>
<p>
  <strong>Median receipts:</strong>
  <% median = median(r) %>
  <% if median == 0 %>
    <%= "NA" %>
  <% else %>
    <% median = median.divmod(60) %>
    <%= median[0]%> fl <%= median[1]%> kr
  <% end %>
</p>

<hr class="top">
<p>
  <strong>Created:</strong>
  <%= @author.created_at.to_date.strftime("%a, %-d %b %Y") %>
</p>
<p>
  <strong>Updated:</strong>
  <%= @author.updated_at.strftime("%a, %-d %b %Y, %H:%M %Z") %>
</p>

<hr>
<%= link_to 'Edit', edit_author_path(@author) %>

<!-- Old Performances table code, sorted by title
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Function</th>
      <th class="right">fl</th>
      <th class="right">kr</th>
      <th>Zinzendorf</th>
    </tr>
  </thead>
  <tbody>
    <% n = 0 %><% z = 0 %>
    <% @author.works.each do |work| %>
      <% work.events.each do |event| %>
        <tr>
          <td><%= link_to event.date, event %></td>
          <td><i><%= link_to work.title, work %></i></td>
          <td><%= @author.writings.find_by(work_id: work.id).function %></td>
          <td class="right"><%= event.receipts.to_i.divmod(60)[0]%></td>
          <td class="right"><%= event.receipts.to_i.divmod(60)[1]%></td>
          <td class="center"><%= event.zinzendorf %></td>
          <% n += 1 %>
          <% if event.zinzendorf then z +=1 end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>
-->