<p style="margin: 0">
  <% if @author.prev %>
    <%= link_to 'Previous Author', @author.prev %> 
    <% if @author.next %> 
      | <%= link_to 'Next Author', @author.next %>
    <% end %>
  <% else %>
    <%= link_to 'Next Author', @author.next %>
  <% end %>
  <% if current_user %>
     | <%= link_to 'Edit', edit_author_path(@author) %> |
    <%= link_to 'Delete', @author, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <% if notice %>
      | <span id="notice"><%= notice %></span> 
  <% end %>
</p>

<h2>
  <%= @author.firstnames%> <%= @author.lastname %>
</h2>
<p>
  <strong>Birth:</strong>
  <% if @author.birth !=0 %>
    <%= @author.birth %>
  <% else %>
    <span>?</span>
  <% end %>
</p>
<p>
  <strong>Death:</strong>
  <% if @author.death !=0 %>
    <%= @author.death %>
  <% else %>
    <span>?</span>
  <% end %>
</p>
<h4>Performances</h4>
<!--Find all performances for this composer and order them by date-->
<%# performances = Event.includes(:works => :authors).where(authors: {id: @author.id}).order(:date) %>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th><%= sort_link "date", @author %></th>
      <th class="dow"><%= sort_link "dow", @work, "Day" %></th>
      <th><%= sort_link "sortable_title", @author, "Title" %></th>
      <th>Function</th>
      <th class="right wide"><%= sort_link "receipts", @author, "fl" %></th>
      <th class="right wide"><%= sort_link "receipts", @author, "kr" %></th>
      <th>Zinzendorf</th>
    </tr>
  </thead>
  <tbody>
    <% @performances.each do |p| %>
        <tr>
          <td><%= link_to p.date.strftime("%Y/%m/%d"), p %></td>
          <td><%= p.date.strftime("%a") %></td>
          <td><i><%= link_to p.works[0].title, p.works[0] %></i></td>
          <td><%= p.works[0].writings.where(author_id: @author.id)[0].function %></td>
          <td class="right">
            <% if p.receipts == "0" %>
              &mdash;
            <% else %>
              <%= p.receipts.to_i.divmod(60)[0]%>
            <% end %>
          </td>
          <td class="right">
            <% if p.receipts == "0" %>
              &mdash;
            <% else %>
              <%= p.receipts.to_i.divmod(60)[1]%>
            <% end %>
          </td>
          <td class="center"><%= if p.zinzendorf then "Yes" else "" end %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<% n = @performances.length %>
<% z = @performances.where(zinzendorf: true).count %>

<hr>
<p>
  <strong>Total performances:</strong>
  <%= n %>
</p>
<p>
  <strong>Titles:</strong>
  <%= @author.works.count %>
</p>
<p>
  <strong>Zinzendorf attendances:</strong>
  <% if n == 0 %>
     <%= "NA" %>
  <% else %>
    <%= z %> (<%= (z.to_f/n.to_f * 100).round(2) %>%)
  <% end %>
</p>
<!-- Calculate mean and median receipts -->
  <!--Get array of receipts for this Author-->
  <!-- Remove any performances that were free or canceled -->
  <% r = @author.works.joins(:events).where.not(events: {kind: ["canceled", "free"], receipts: "0"}).pluck(:receipts) %>
  <!--Convert array items from string to integer -->
  <% r.map! {|r| r.to_i} %>
<p>
  <strong>Mean receipts:</strong>
  <% if r.empty? %>
    <%= "NA" %>
  <% else %>
    <% mean = mean(r).divmod(60) %> 
    <%= mean[0]%> fl <%= mean[1]%> kr
  <% end %>
</p>
<p>
  <strong>Median receipts:</strong>
  <% if r.empty? %>
    <%= "NA" %>
  <% else %>
    <% median = median(r).divmod(60) %>
    <%= median[0]%> fl <%= median[1]%> kr
  <% end %>
</p>

<% if @author.notes %>
    <p class="notes">
      <strong>Notes:</strong>
      <% if @author.notes %>
        <%= @author.notes.html_safe %>
      <% end %>
    </p>
  <% end %>

<hr class="top">
<p>
  <strong>Created:</strong>
  <%= @author.created_at.to_date.strftime("%a, %-d %b %Y") %>
</p>
<p>
  <strong>Updated:</strong>
  <%= @author.updated_at.strftime("%a, %-d %b %Y, %H:%M %Z") %>
</p>

<hr>