<p style="margin: 0">
  <% if @event.prev %>
    <%= link_to 'Previous Event', edit_event_path(@event.prev) %>
    <% if @event.next %>
      | <%= link_to 'Next Event', edit_event_path(@event.next) %>
    <% end %>
  <% else %>
    <%= link_to 'Next Event', edit_event_path(@event.next) %>
  <% end %>
</p>
<h1>Editing Event</h1>
<h2><%= @event.works[0].title%></h2>

<div class="row">
  <div class="col-6">
    <%= render 'form', work: @event %>
  </div>
</div>
<hr class="top">
<%= link_to 'Show', @event %>
