<div class="row">
  <div class="col">
    <h2>Calendar</h2>
  </div>
  <div class="col-5">
    <p>
      <%= search_form_for @q do |f| %>
        <!-- Ransack "contains" search, executes on Enter -->
        <%= f.search_field :works_title_cont, placeholder: "Search title", size: "25"%>
        <!-- Clear search and reload page -->
        <%= link_to "(clear)", request.path, class: 'small' %>
      <% end %>
    </p>
  </div>
</div>


<% cache(@events) do %>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Day</th>
      <th>Title</th>
      <th>Author</th>
      <th>Composer</th>
      <th class="right pad-right">Receipts (kr)</th>
      <th class="right pad-right">fl</th>
      <th class="right pad-right">kr</th>
      <th>Zinzendorf</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <% cache(event) do %>
        <tr>
          <td><%= link_to event.date.strftime("%Y/%m/%d"), event %></td>
          <td><%= event.date.strftime("%a") %></td>
          <td><i><%= link_to event.works[0].title, event.works[0] %></i></td>
          <td>
            <% if event.works[0].authors[0] %>
              <%= link_to event.works[0].authors[0].lastname, event.works[0].authors[0] %>
            <% else %>
              NA
            <% end %>
          </td>
          <td>
            <% if event.works[0].composers[0] %>
                <%= link_to event.works[0].composers[0].lastname, event.works[0].composers[0] %>
            <% else %>
                NA
            <% end %>
          </td>
          <td class="right pad-right"><%= event.receipts %></td>
          <% r = event.receipts.to_i.divmod(60) %>
          <td class="right pad-right">
            <% if event.receipts == 'unknown' %>
              —
            <% else %>
              <%= r[0] %> 
            <% end %>
          </td>
          <td class="right pad-right">
            <% if event.receipts == 'unknown' %>
              —
            <% else %>
              <%= r[1] %> 
            <% end %>
          </td>
          <td class="center"><%= if event.zinzendorf then "Yes" else "" end %></td>
          <!--<td class="detail-link"><%= link_to 'Details', event %></td>
          <td><%= link_to 'Edit', edit_event_path(event.id) %></td>
          <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class='digg_pagination'>
  <%= will_paginate @events %>
</div>
<% end %>
<br>

<!-- <%= link_to 'New Event', new_event_path %> -->
