<p style="margin: 0">
  <% if @event.prev %>
    <%= link_to 'Previous Event', @event.prev %> | 
  <% end %>
  <% if @event.next %> 
    <%= link_to 'Next Event', @event.next %> | 
  <% end %>
  <%= link_to 'Back', url_for(:back) %>
  <% if current_user %>
   | <%= link_to 'Edit', edit_event_path(@event) %>
  <% end %>
  <% if notice %>
      | <span id="notice"><%= notice %></span> 
  <% end %>
</p>

<!-- Construct heading with date and title-->
<h3 style="margin-top: 0.5em">
  <%= @event.date.strftime("%a, %-d %b %Y") %> <i></i>
</h3>
<h2>
  <i><%= link_to @event.works[0].title, @event.works[0] %></i>
  <% if @event.double %> 
     and 
    <i><%= link_to @event.works[1].title, @event.works[1] %></i>
  <% end %>
</h2>

<div>
  <% if @event.works[0].composers[0] %>
    <p>
      <strong>Composer: </strong>
      <%= link_to @event.works[0].composers[0].lastname, @event.works[0].composers[0]%>
    </p>
  <% end %>
  
  <% if @event.works[0].authors[0] %> 
    <p>
      <strong>Author: </strong>
      <%= link_to @event.works[0].authors[0].lastname, @event.works[0].authors[0]%>
      <% if @event.double %>
        | <%= link_to @event.works[1].authors[0].lastname, @event.works[1] %>
      <% end %>
    </p>
  <% end %>
  <p>
    <strong>Receipts:</strong>
    <% r = @event.receipts.to_i.divmod(60) %>
    <% if @event.receipts == 'unknown' %>
      unknown
    <% else %>
      <%= r[0] %> fl <%= r[1] %> kr (<%= @event.receipts %> kr)
    <% end %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @event.kind %>
  </p>

  <p>
    <strong>Zinzendorf:</strong>
    <%= if @event.zinzendorf then "Yes" else "No" end %>
  </p>

  <p>
    <strong>Double:</strong>
    <%= if @event.double then "Yes" else "No" end %>
  </p>

  <p class="notes">
    <% if @event.notes %>
      <strong>Notes:</strong>
      <%= @event.notes.html_safe %>
    <% end %>
  </p>
  <hr>
  <p>
    <strong>Created:</strong>
    <%= @event.created_at.to_date.strftime("%a, %-d %b %Y") %>
  </p>
  <p>
    <strong>Updated:</strong>
    <%= @event.updated_at.strftime("%a, %-d %b %Y, %H:%M %Z") %>
  </p>
</div>
<hr>