<p id="notice"><%= notice %></p>

<!-- Construct heading with date and title-->
<h3>
  <%= @event.date.strftime("%a, %-d %b %Y") %> <i></i>
</h3>
<h2>
  <i><%= link_to @event.works[0].title, @event.works[0] %></i>
  <% if @event.double %> 
     &amp;<br>
    <i><%= link_to @event.works[1].title, @event.works[1] %></i>
  <% end %>
</h2>

<div>
  <p>
    <strong>Receipts:</strong>
    <% r = @event.receipts.to_i.divmod(60) %>
    <%= @event.receipts %> kr = <%= r[0] %> fl <%= r[1] %> kr
  </p>

  <p>
    <strong>Kind:</strong>
    <%= @event.kind %>
  </p>

  <p>
    <strong>Zinzendorf:</strong>
    <%= @event.zinzendorf %>
  </p>

  <p>
    <strong>Double:</strong>
    <%= @event.double %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @event.notes %>
  </p>

  <p>
    <strong>Created:</strong>
    <%= @event.created_at.to_date.strftime("%a, %-d %b %Y") %>
  </p>

  <p>
    <strong>Updated:</strong>
    <%= @event.updated_at.strftime("%a, %-d %b %Y, %H:%M %Z") %>
  </p>

</div>
<hr>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', url_for(:back) %>
