<p class="navigation">
  <%= link_to 'Events', events_path %> |
  <%= link_to 'Works', works_path %> |
  <%= link_to 'Composers', composers_path %> |
  <%= link_to 'Authors', authors_path %> | 
  <% if current_user %>
      <!-- Current_user will return true if a user is logged in -->
      <!-- Send the relative path of the page the login/logout request
      is comng from -->
      <%= link_to 'Log Out', logout_path(redirect_to: request.path), method: :delete %>
    <% else %>
      <!-- not logged in -->
      <%= link_to 'Log In', login_path(redirect_to: request.path) %>
    <% end %>
</p>
<hr>