<!DOCTYPE html>
<html>
  <head>
    <title>Burgtheater, 1789–1791</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  
  <body>
    <div class="container">
        <div class="row sticky-top">
          <div class="col">
            <%= render 'navigation' %>
            <h1 class="header"><i>The Burgtheater in Vienna, 26 Feb 1789 to 8 Mar 1791</i></h1>
            <hr>
          </div>
          <div class="col-2">
            <%= image_tag "Burgtheater-detail-small-rev2.jpg", width: "120px", class: "logo" %>
          </div>
        </div>
        
        <%= yield %>  
    </div>
  </body>
  <script>
    $(document).ready(function(){
      $('.datepicker').datepicker({
        format: "yyyy-mm-dd",
        startDate: "1789-02-26",
        endDate: "1791-03-08",
        defaultViewDate: "1789-02-26",
        startView: 1
      });
    });
  </script>
</html>
